* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* o . é para chamar a classe */
  .navbar {
    font-size: 32px;
    display: flex;
    justify-content: end;
    gap: 10px;
    list-style: none;
  }
  
  .navbar a {
    text-decoration: none;
  }

  .navbar li a:hover{
    color: green;
  }

  h1{
    text-align: center;
  }
  
  .banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .banner > div> p{
    background-color: aquamarine;
    font-size: 20px;
    padding: 20px;
    border-radius: 3%;
  }
  .banner > div > img{
    border-radius: 2%;
    margin-top: 3%;
    margin-left: 20px;
    margin-right: 20px;
  }
  }
  img {
    width: 25%;
  }
  
  .video {
    width: 30%;
    aspect-ratio: 4/5;
    margin: 0 auto;
    display: block;
  }

  .mainFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70vh;
  }
  
  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .left form {
    margin: 0 auto;
    width: 30vw;
    padding: 0 2rem;
  }
  
  input,
  textarea,
  button {
    width: 100%;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--dark-yellow);
    background-color: #dbb77860;
    color: var(--black);
  }
  
  button:hover {
    background-color: var(--dark-yellow);
    cursor: pointer;
  }
  
  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .right p {
    text-align: center;
  }
  
  .right iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
  
  @media (max-width: 768px) {
    nav ul {
      justify-content: center;
    }
    h1 {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1rem;
    }
  
    .banner {
      flex-direction: column-reverse;
    }
  
    .mainFlex {
      flex-direction: column;
    }
  
    .left form {
      width: 100%;
    }

    #torrada{
      justify-content: center;
    }