* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* o . é para chamar a classe */
  .navbar {
    font-size: 32px;
    display: flex;
    justify-content: end;
    gap: 10px;
    list-style: none;
  }
  
  .navbar a {
    text-decoration: none;
  }
  h1{
    text-align: center;
  }
  
  .banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .banner > div> p{
    background-color: aquamarine;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner > div > img{
    border-radius: 2%;
    margin-top: 3%;
    margin-left: 20px;
    margin-right: 20px;
  }
  }
  img {
    width: 25%;
  }
  
  .video {
    width: 75%;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
  }
  
